.portfolio-menu {
    all: unset;

    display: flex;

    height: 38px;

    position: fixed;
    bottom: 0;
    left: -280px;
    z-index: 100;
    transition: left .3s ease-in-out;
}

.portfolio-menu p {
    all: unset;

    font-family: sans-serif !important;
}

.portfolio-menu-item {
    all: unset;

    padding: 7px 10px;
    width: 160px;
    line-height: 20px;
    height: 32px;
    opacity: .4;
    color: white;
    font-size: 1.2rem;
    background-color: black;
    transition: color .15s linear,
        opacity .15s linear;
}

.portfolio-menu-item:hover {
    color: #00ddff;
    opacity: .7;
}

html:hover .portfolio-menu {
    left: 0;
}

.portfolio-description {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: transparent;
    width: 40px;

    transition: width .5s ease-in-out,
        background-color .5s ease-in-out;
}

.portfolio-description img {
    width: 20px;
    height: 20px;
    opacity: .7;
}

.portfolio-description .portfolio-menu-item {
    opacity: 1;
    width: unset;
}

.portfolio-description p {
    padding: 7px 10px;
    font-size: 1.2rem;
    line-height: 20px;
}

.portfolio-hidden {
    display: flex;

    margin: 0 5px;
    width: 0;

    white-space: nowrap;
    overflow: hidden;

    position: absolute;
    bottom: 0;
}

.portfolio-description:hover {
    background-color: black;
    width: calc(100vw - 200px);
}

.portfolio-description:hover .portfolio-hidden {
    width: 100%;
    top: 0;
}

.portfolio-description:hover img {
    display: none;
}